html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Header */

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1F2937;
  color: #F9FAF8;
}

header p {
  font-size: 24px;
}

ul {
  display: inline-flex;
  gap: 20px;
  list-style-type: none;
}

li a {
  text-decoration: none;
  color: #F9FAF8;  
}

/* Top Section */

.top {
  display: flex;
  justify-content: space-around;
  padding: 75px;
  background-color: #1F2937;
  color: #F9FAF8;
}

.left {
  width: 350px;
}

.right {
  display: flex;
  overflow: hidden;
}

.top h2 {
  font-size: 48px;
  font-weight: bolder;
  margin-bottom: 5px
}

.top p {
  font-size: 18px;
  margin: 10px auto;
}

.top button {
  padding: 8px 32px;
  border-radius: 10px;
  background-color: #3882F6;
}

.top button a {
  text-decoration: none;
  color: #F9FAF8;
  font-weight: bold;
  letter-spacing: 0.25px;
}

/* Tile Section */

.tile {
  text-align: center;
  padding: 10px 0 50px 0;
  
}

.tile h2 {
  font-size: 36px;
  font-weight: bolder;
}

.tile-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
  gap: 50px
}

.tile-item {
  width: 160px;
}

.tile-item img {
  border: 5px solid #3882F6;
  border-radius: 15px;
}

/* Quote Section */

.quote {
  background-color: #E5E7EB;
  padding: 75px 0;
}

figure blockquote {
  font-size: 36px;
  font-style: italic;
  margin: 0 auto;
  width: 790px;
}

figcaption {
  display: inline-block;
  margin-left: 65%;
  font-weight: bold;
  font-size: 24px;
}

/* Sign Up Section */

.sign-up {
  padding: 100px;
}

.blue-box {
  padding: 25px;
  margin: 0 150px;
  background-color: #3882F6;
  border-radius: 10px;
  color:#F9FAF8;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.left h3 {
  font-size: 22px;
  margin: 0;
}

.left p {
  margin: 0;
}

.right button {
  padding: 10px 40px;
  border-radius: 10px;
  background-color: #3882F6;
  display: inline-flex;
  border-color: #E5E7EB;
  }
  
.right button a {
  text-decoration: none;
  color: #F9FAF8;
  font-weight: bold;
  letter-spacing: 0.25px;
}

/* Footer */

footer {
  text-align: center;
  padding: 25px;
  background-color: black;
  color:#E5E7EB
}